.topnav {
  overflow: hidden;
  background-color:white;
  position: relative;
}

.menu #itemLinks {
  display: none;
}

.menu a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.menu a.icon {
  background:red;
  display: block;
  position: absolute;margin-top: 15px;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}


#skillhero{
    display: flex;
    gap: 20%;
    margin: 40px;
  }
.topnav { 
    padding-top: 25px; 
       display: inline-flex; 
       gap: 40px; 
       white-space: nowrap; 
    
     } 
    #active{
      color: red;
    }
    .landingpage{
        display: flex;
        padding-left: 3%;
        gap: 3%;
    }
    #logo-hat{
      display: flex;
      margin-top: 3px;
      object-fit: none;
    }
    .input{
      font-size: x-small;
      border-radius: 20px;
      height: 40px;
      width: 70%;
    }
    #body{
      margin-left: 5%;
      margin-right: 5%;
      
    }
    #get{

      border-radius: 20px;
      background-color: red;
      color: white;
    }
    #login-button{
      border-radius: 12px;
      border-color: red;
      background-color: white;
      color: red;
      width: 30%;
      height: 40%;
    }
    #join-button{
      border-radius: 20px;
      background-color: red;
      color: white;
      width: 40%;
      height: 40%;
    }
    #logos{
      width: 95%;
      display: flex;
      gap: 10%;
      background-color: white;
      padding-left: 4%;
      padding-bottom: 20%;
    
    }
    #paragraph{
      display: flex;
      gap:2%;
      white-space: nowrap;

    }

    #ticks{
      width: 40px;
      height: 40px;
    }

    #logo{
      width: 10%;
      height: 10%;
      justify-items: center;
    }
    #buttons{
      display: flex;
    }
    .button{
      border-radius: 20px;
      width: 100%;
      height: 80px;
      margin-right: -52%;
    }
    #explore-button{
      font-size: x-small;
      border-radius: 20px;
      background-color: red;
      color: white;
      height: 44px;
      width: 120px;
    }
    #man{
      width: 170%;
    }
    #upgrade{
      font-size: 60px;
      font-style:initial;
      color: rgb(21, 21, 92);
    }

    @media screen and (min-width: 375px) and (max-width: 667px){
      #skillhero{
      display: flex;
      flex-wrap: wrap;
  margin: 0%;
            }
      
      #body{
        margin: 0%;
      }
      
      #join-button{
        font-size: xx-small;
        width: 20%;
      }
      
      #upgrade{
      font-size: 30px;
      font-style:initial;
      }
      
      .topnav {
      display: flex;
       flex-wrap: wrap;
              }
              
      #logo-hat{
        font-size: x-small;
      }
              .landingpage{
                  display: flex;
      flex-wrap: wrap;
              }
              #paragraph{
                font-size: xx-small;
              }
      
              #footer{
                display: flex;
      flex-wrap: wrap;
              }
              #logos{
                display:flex;
                gap: 22%;
                width: 60%;
                justify-content: center;
      
              }
      
              #ticks{
                width: 12px;
                height: 12px;
              }
      
              #paragraph{
                font-size: xx-small;
                display: flex;
                flex-wrap: wrap;
              } 
              #login-button{
      font-size: x-small;
                width: 90px;
                height: 20px;
              }
              #join-button{
      font-size: x-small;
                width: 90px;
                height: 20px;
              }
              #explore-button{
      font-size: xx-smaller;
      width: 80%;
                height: 34px;
              }
.input{
font-size: xx-smaller;
height: 30px; }
  
#man{
 width: 60%;
padding-top: 12px;
}
}

/* @media screen and (min-width: 667px) and (max-width: 1200px){
  #skillhero{
  display: flex;
  flex-wrap: wrap;
margin: 0%;
        }
  
  #wholepage{
    margin: 0%;
  }
  
  #join{
    font-size: xx-small;
    width: 20%;
  }
  
  #upgrade{
  font-size: 30px;
  font-style:initial;
  }
  
  .topnav {
  display: flex;
   flex-wrap: wrap;
          }
          
  #hat{
    font-size: x-small;
  }
          .content{
              display: flex;
  flex-wrap: wrap;
          }
          #paragraph{
            font-size: xx-small;
          }
  
          #footer{
            display: flex;
  flex-wrap: wrap;
          }
          #logo{
            display:flex;
            gap: 22%;
            width: 60%;
            justify-content: center;
  
          }
  
          #ticks{
            width: 12px;
            height: 12px;
          }
  
          #tick{
            font-size: xx-small;
            display: flex;
            flex-wrap: wrap;
          } 
          #log{
  font-size: x-small;
            width: 90px;
            height: 20px;
          }
          #join{
  font-size: x-small;
            width: 90px;
            height: 20px;
          }
          #explore{
  font-size: xx-smaller;
  width: 80%;
            height: 34px;
          }
.input{
font-size: xx-smaller;
height: 30px; }

#man{
width: 60%;
padding-top: 12px;
}
} */