#skillhero{
    display: flex;
    gap: 25%;
    margin: 40px;
  }
.topnav {
  padding-top: 25px;
    display: inline-flex;
    gap: 40px;
    white-space: nowrap;
    
    }
    #active{
      color: red;
    }
    .content{
        display: flex;
        padding-left: 3%;
        gap: 1%;
    }
    #hat{
      display: flex;
      margin-top: 3px;
    }
    .input{
      border-radius: 20px;
      height: 40px;
      width: 70%;
    }
    #wholepage{
      margin-left: 10%;
    }
    #get{

      border-radius: 20px;
      background-color: red;
      color: white;
    }
    #log{
      border-radius: 12px;
      border-color: red;
      background-color: white;
      color: red;
      width: 30%;
      height: 40%;
    }
    #join{
      border-radius: 20px;
      background-color: red;
      color: white;
      width: 40%;
      height: 40%;
    }
    #logo{
      width: 95%;
      display: flex;
      gap: 10%;
      background-color: white;
      padding-left: 4%;
    
    }
    #tick{
      display: flex;
      gap:2%;
      white-space: nowrap;
    }

    #ticks{
      width: 40px;
      height: 40px;
    }

    #logos{
      width: 10%;
      height: 10%;
      text-align: center;
    }
    #buttons{
      display: flex;
    }
    .button{
      border-radius: 20px;
      width: 100%;
      height: 80px;
      margin-right: -52%;
    }
    #explore{
      border-radius: 20px;
      background-color: red;
      color: white;
      height: 44px;
    }
    #man{
      width: 100%;
      padding-top: 12px;
    }
    #upgrade{
      font-size: 60px;
      font-style:initial;
    }

    @media screen and (min-width: 375px) and (max-width: 667px){
      #skillhero{
        display: flex;
flex-wrap: wrap;
      }

    .topnav {
        display:flex;
        flex-wrap: wrap;
        
        }

        .content{
            display: flex;
flex-wrap: wrap;
        }

        #footer{
          display: flex;
flex-wrap: wrap;
        }

        #tick{
          display: flex;
          flex-wrap: wrap;
        } 
        #log{
          border-radius: 12px;
          border-color: red;
          background-color: white;
          color: red;
          width: 30%;
          height: 20%;
        }
        #join{
          border-radius: 12px;
          background-color: red;
          color: white;
          width: 40%;
          height: 20%;
        }
    }